/* navbar */
#navbar
{
    flex-direction: column;
    height: auto;
}

/* mainpage */

/* 
#mainpage
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
} */

#mainpage::before
{
    width: 180rem;
}


/* aboutpage*/


/* tourpage */
#card
{
    flex-direction: column;
    width: 200%;
    height: auto;
}


/* contactpage */


